if SHIELD_TBK_LEFT

  config ZMK_KEYBOARD_NAME
    default "tbk"

  config ZMK_SPLIT_BLE_ROLE_CENTRAL
      default y

  # This is the ONLY display-related setting ZMK actually needs
  config DISPLAY
    default y

  # ZMK uses hardware SPI — no manual SPI configs required
  config SPI
    default y

endif

if SHIELD_TBK_LEFT || SHIELD_TBK_RIGHT

  config ZMK_SPLIT
    default y

endif
